@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700.css";
@import "partials/mixins";
@import "partials/settings";
@import "partials/foundation";


body{
  background-color: $white;
}

header{
  @media #{$medium-up}{
    background-color: $blue;
    background-image: url('/images/header_bg.png');
  }
  // @media #{$large-up}{
  //   background-color: $blue;
  // }
  .logo_container{
    height: 120px;
    margin: auto;
    margin-bottom: -15px;
    background-image: url('/images/logo.svg');
    background-size: 156px;
    background-repeat: no-repeat;
    background-position: 50% 5px;
  }

  a{
    @media #{$medium-up}{
      @include starfox_font(21px, $dark_grey, 400);
    } 
  }
  span{
    @media #{$medium-up}{
      @include starfox_font(21px, $dark_grey, 900);
    }
  }
}

header .row > .columns{
  @media #{$small-only}{
    padding-left: 0;
    padding-right: 0;
  } 
}

nav.desktop-nav{
  @media #{$medium-up}{
    background-color: $dark_grey; 
    border-radius: 5px;
    text-align: center;
    top: 175px;
    margin-bottom: -46px;
    ul {
      height: 60px; 
      li{
        display: inline-block;
        margin: 0 20px;
        padding-top: 15px;
        a{
          @include starfox_font(18px, $blue, 300);
        }
        a:hover{
          @include starfox_font(18px, $white, 500);
        }
      }
    }
  }
}

nav.top-bar{
  @media #{$small-only}{
    ul.title-area.show-for-small{
      padding-left: 20px;
    }
    .top-bar-section ul > li{
      border-top: 1px solid $light_blue;
    }
    .top-bar-section ul li > a{
      font-weight: 300;
      font-size: 15px;
      color: $blue;
    }
    li.toggle-topbar a span{
      background-image: url('/images/menu_icon.png');
      background-repeat: no-repeat;
      background-position: 2px;
      background-size: 30px;
    } 
    h1.mobile_logo{
      background-image: url('/images/logo.svg');
      background-repeat: no-repeat;
      background-size: 60px;
    }
    a span:nth-child(1){
      @include starfox_font(22px, $blue, 600);
      padding-left: 50px;
    }
    a span:nth-child(2){
      @include starfox_font(22px, $blue, 300);
      letter-spacing: 1px;
    }
  }
}



.hero{
  padding-bottom: 45px;
  @media #{$small-only}{
    background-color: $blue;
  }
  @media #{$large-up}{
    margin-top: 60px;
  }
  .hero_action{
    background-color: $lightgrey;
    padding: 15px;
    text-align: center;
    border-bottom: solid 8px $dark_grey;
    @media #{$medium-only}{
      margin: 0 auto;
      width: 310px;
      height: 63px;
      margin-bottom: 58px;
    }
    @media #{$large-up}{
      float: right;
      width: 25%;
      margin-top: 80px;
      margin-right: 50px;
    }
    a{
      @include starfox_font(18px, $white, 300);
      letter-spacing: 1px;
      display: inline-block;
    }
  }
  .hero_wrapper{
    background-color: $blue;
    border-radius: 5px;
    @media #{$medium-only}{
      margin-top: 65px;
    }
    @media #{$large-up}{
      height: 320px;
    }
  }
}

.hero_text{ 
  background-image: url('/images/ship.png');
  background-repeat: no-repeat;
  background-size: 285px;
  @media #{$small-only}{
    background-position: 50% -20px;
  }
  @media #{$medium-only}{
    background-position: 50% -60px;
    margin-top: -5px;
  }
  @media #{$large-up}{
    background-position: 700px -75px;
    margin-top: -5px;
    height: 125px;
  }
  p{
    @media #{$small-only}{
      padding-top: 235px;
      text-align: center;
      padding-bottom: 15px;
      line-height: 39px;
      @include starfox_font(27px, $dark_grey, 300);
      span{
        @include starfox_font(27px, $dark_grey, 600);
      }
    }
    @media #{$medium-only}{
      padding: 175px 75px 0;
      text-align: center;
      padding-bottom: 10px;
      line-height: 40px;
      @include starfox_font(28px, $dark_grey, 300);
      span{
        @include starfox_font(28px, $dark_grey, 600);
      }
    }
    @media #{$large-up}{
      float: left;
      width: 70%;
      padding: 70px;    
      @include starfox_font(29px, $dark_grey, 300);
      span{
        @include starfox_font(29px, $dark_grey, 600);
      }
      text-align: left;
      line-height: 40px;
    }
  }
}

.highlights{
  @media #{$small-only}{
    padding-top: 50px;
  }
  .more_details{
    border-radius: 5px;
    .just_to_jupiter{
      padding: 12px;
      border-radius: 5px 5px 0 0;
      border-bottom: 1px solid $darkruletop;
      h4{
        @include starfox_font(15px, $white, 600);
      }
      h5{
        @include starfox_font(40px, $white, 300);
      }
    }
    .center_of_the_earth{
      padding: 12px;
      border-radius: 5px 5px 0 0;
      border-bottom: 1px solid $darkruletop;
      border-top: 1px solid $lightrulebottom;
      h4{
        @include starfox_font(15px, $white, 600);
      }
      h5{
        @include starfox_font(40px, $white, 300);
      }
    }
    .more_deals_desktop_button{
      height: 70px;
      border-top: 1px solid $lightrulebottom;
      background-image: url('/images/arrow.png');
      background-repeat: no-repeat;
      background-size: 40px; 
      background-position: 180px;
      .more_deals_desktop_image{
        margin-top: 15px;
      }    
      .more_deals_desktop{
        @include starfox_font(22px, $white, 300);
        margin-left: 50px;
      }
    }
  }
  .highlight{
    background-color: $lightgrey;
    border-radius: 5px;
    margin-bottom: 50px;
    @media #{$small-only}{
      text-align: center;
    }
    &:hover{
      background-color: $hovergrey;
    }
    h2{
      @media #{$small-only}{
        @include starfox_font(22px, $white, 600);
        border-bottom: solid 1px $darkruletop;
        padding: 20px 0;
        margin: 0;
      }
      @media #{$medium-only}{
        @include starfox_font(22px, $white, 600);
        text-align: left;
      }
      @media #{$large-up}{
        @include starfox_font(22px, $white, 600);
        border-bottom: solid 1px $darkruletop;
        padding: 20px 0;
        margin: 0;
      }
    }
    h3{
      padding-top: 15px;
      @media #{$small-only}{
        border-bottom: solid 7px $white;
        display: inline-block;
        @include starfox_font(55px, $white, 300);
      }
      @media #{$medium-only}{
        border-bottom: solid 7px $white;
        display: inline-block;
        @include starfox_font(60px, $white, 300);
        // margin-left: 15px;
        margin-top: 50px;
        text-align: left;
      }
      @media #{$large-up}{
        margin-left: 28px;
        @include starfox_font(60px, $white, 300);
        border-bottom: solid 7px $white;
        display: inline-block;
        text-align: center;
      }
    }
    p{
      @media #{$small-only}{
        @include starfox_font(15px, $white, 300);
        padding: 15px 110px 5px;
      }
      @media #{$medium-only}{
        @include starfox_font(15px, $white, 300);
        text-align: left;
        margin-bottom: 0;
      }
      @media #{$large-up}{
        @include starfox_font(12px, $white, 300);
        text-align: center;
        margin-bottom: 0;
        padding: 10px 50px 20px;
      }
    }
    .amount{
      @media #{$small-only}{
        border-top: solid 1px $lightrulebottom;
      }
      @media #{$medium-only}{
        text-align: center;
        width: 50%;
        float: left;
      }
    }
    .highlight_description{
      @media #{$medium-only}{
        width: 50%;
        float: right;
        padding: 70px;
        border-left: solid 1px $lightrulebottom;
      }
    }
  }
}

.more_deals_container .row{
  background-color: $blue;
  height: 85px;
  a{
    @include starfox_font(25px, $white, 600);
    background-image: url('/images/arrow.png');
    background-repeat: no-repeat;
    @media #{$small-only}{
      background-size: 38px;
      background-position: 325px 21px;
      padding-top: 23px;
      display: block;
      text-align: center;
    }
    @media #{$medium-only}{
      display: block;
      text-align: center;
      background-position: 475px 20px;
      padding-top: 23px;
      background-size: 40px;
    }
    @media #{$large-up}{
      display: block;
    }
  }
}

footer{ 
  background-color: $dark_grey;
  height: 85px;
  p{
    @include starfox_font(12px, $grey, 300);
    line-height: 15px;
    padding: 30px 30px;
  }
}

